{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/avis.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.avis.titol_pagina }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">


        <div class="header_background"></div>
        <img src="/static/img/logo.png" class="header_logo"/>

        <div class="page_title_avis">{{ text.avis.titol | safe}}</div>
        <!--<hr class="separador-top" />-->

        <form method="post" action="/{{ lang }}/user/avis">

            <div class="avis_legal">{{ text.avis.avis_legal | safe}} </div>

            <!--
            <div class="checkbox1_legal">
                <input id="box1" type="checkbox" name="check_1" value="true"/>
                <label for="box1">{{text.avis.check_1}}</label>
             </div>

            <div class="error_box_1">
                {% if check_1_error %}{{ text.avis.error_1 }}{% endif %}
            </div>
            -->


            <hr class="separador-bottom" />

            <div class="page_button_right">
                <button class="bx bx-push bx-main" type="submit">{{ text.avis.accepto }}</button>
            </div>

            <div class="page_button_left">
                <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/user/logout'" name="logout" class="bx-push bx bx-white" >
                    {{ text.avis.no_accepto }}
                </button>
            </div>
        </form>

    </div>
{% endblock %}