{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/enquesta.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.enquestafinalintro.titol_pagina }}{% endblock %}

{% block content %}
    <div class="topdiv-centered">

        <div class="header_background"></div>
        <img src="/static/img/logo.png" class="header_logo"/>

        <div class="page_title">{{ text.enquestafinalintro.titol }}</div>

        <hr class="separador-top" />

        <div class="text_main">{{ text.enquestafinalintro.text }}</div>

        <div class="text_gracias">{{ text.enquestafinalintro.text_gracias }}</div>

            <hr class="separador-bottom" />

            <div class="page_button_right">
                <button id="boto_enquesta" type="button" onclick="location.href='/{{ lang }}/user/surveyfinal1'" name="logout" class="bx bx-push bx-main" >
                {{ text.enquestafinalintro.text_seguent }}
            </button>
            </div>



    </div> <!-- /container -->

{% endblock %}
