{% extends "base.html" %}

{% block title %}{% endblock %}

{% block stylesheet %}
    <link href="/static/css/index.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <div class="topdiv">
        <!--
        <div class="fons"></div>
        -->




        <div class="header_background"></div>
        <img src="/static/img/logo.png" class="header_logo"/>

        <hr class="separador-top" />


        <div class="text_title_welcome">
            {{ text.main.main_text| safe }}
        </div>


        <div class="text_welcome">
            {{ text.main.main_text2| safe }}
        </div>

        <div class="logos_llenguatge">
            <a href="/ca/">
                <button class="bx bx-squared logos_idioma">CA</button>
            </a>
            <a href="/es/" class="logos_idioma">
                <button class="bx bx-squared logos_idioma">ES</button>
            </a>
            <a href="/en/" class="logos_idioma">
                <button class="bx bx-squared logos_idioma">EN</button>
            </a>
            <!--
            <a href="/gr/" class="logos_idioma">
                <button class="bx bx-squared logos_idioma">GRC</button>
            </a>
            -->
            
        </div>

        <hr class="separador-bottom" />

        <div class="vull_jugar">
            <form method="post" action="/{{ lang }}/user/nickname">
                <button class="bx bx-push bx-main">
                    {{ text.main.boto }}
                </button>
            </form>
        </div>

        <!-- ToDo: Logos index screen
        <img id="imatge_logos" src="/static/img/logos/logos-agbar.png"/>
        -->





    </div>

{% endblock %}

{% block javascript %}
    <script>
        $("a").click(function (event) {
            event.preventDefault();
            window.location = $(this).attr("href");
        });
    </script>

{% endblock %}