{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/inici.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.inici.titol_pagina }} | {{ user.nickname }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">

        <div class="user_info">
            <span class="glyphicon glyphicon-user" style="margin-left: 20px;"></span>
            {{ user.nickname }}
        </div>
        <!--<div class="user_coins">
            <span class="glyphicon glyphicon-euro" style="margin-left: 20px;"></span>
            {{ user.endowment_initial }}
        </div>-->

        <div class="header_background"></div>
        <img src="/static/img/logo.png" class="header_logo"/>

        <div class="page_title">{{ text.inici.titol }}</div>

        <hr class="separador-top" />

        <!-- The objective reminder is not activated
        <div class="text_inici">{% if control_intervention_economic %}{{ text.inici.text_inici_economic | safe}}{% endif %}</div>
        <div class="text_inici">{% if control_intervention_social %}{{ text.inici.text_inici_social | safe}}{% endif %}</div>
        -->

        <form method="post" action="/{{ lang }}/user/inici">

            <button id="boto_jugar"
                    type="submit" name="jugar" class="bx-push bx bx-main" >
                {{ text.inici.boto | safe}}
            </button>
        </form>


        <div class="error_partida">
            {% if error_partida %}{{ text.inici.error_partida | safe }}{% endif %}
        </div>

        <hr class="separador-bottom" />

        <div class="page_button_right">
            <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/game/tutorial'" name="logout" class="bx-push bx bx-white" >
                {{  text.common.repetir_tutorial }}
            </button>
        </div>

        <div class="page_button_left">
            <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/user/logout'" name="logout" class="bx-push bx bx-white" >
                {{ text.common.sortir_joc }}
            </button>
        </div>

    </div>

{% endblock %}