{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/tutorial_inici.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.inici.titol_pagina }} | {{ user.nickname }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">

        <div class="user_info">
            <span class="glyphicon glyphicon-user" style="margin-left: 20px;"></span>
            {{ user.nickname }}
        </div>

        <div class="header_background"></div>
        <img src="/static/img/logo.png" class="header_logo"/>

        <div class="page_title">{{ text.tutorial_inici.titol }}</div>

        <hr class="separador-top" />

        <div class="text_inici">{{ text.tutorial_inici.text_inici | safe}}</div>

        <form method="post" action="/{{ lang }}/game/tutorial_inici">

            <button id="boto_jugar" type="submit" name="jugar" class="bx-push bx bx-main" >
                {{ text.tutorial_inici.boto | safe}}
            </button>
        </form>


        <div class="error_partida">
            {% if error_partida %}{{ text.tutorial_inici.error_partida | safe }}{% endif %}
        </div>

        <hr class="separador-bottom" />



        <div class="page_button_left">
            <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/user/logout'" name="logout" class="bx-push bx bx-white" >
                {{ text.common.sortir_joc }}
            </button>
        </div>

    </div>

{% endblock %}