{% extends "base.html" %}

{% block stylesheet %}
    <link href="/static/css/pre_survey.css" rel="stylesheet" media="screen">
{% endblock %}

{% block title %}{{ text.verification.titol_pagina }}{% endblock %}

{% block content %}

    <div class="topdiv-centered">

        <div class="header_background"></div>
        <img src="/static/img/logo.png" class="header_logo"/>

        <div class="page_title">{{ text.verification.titol }}</div>

        <hr class="separador-top" />

        <form method="post" action="/{{ lang }}/user/verification">

            <div class="verification_question_1">
                {% if pr_verification1_danger %}  <div class="pregunta_titol_error" id="verification_question_1">*{{ text.verification.pr1 | safe }} ({{ text.common.error_opcio }})</div>{%  endif %}
                {% if not pr_verification1_danger %}<div class="pregunta_titol">{{ text.verification.pr1 | safe }}</div>{%  endif %}
                <div class="btn-toolbar" data-toggle="buttons" style="padding-left: 210px;">
                    <input type="hidden" name="pr_verification1" value="{{ pr_verification1 }}">
                    <button name="pr_verification1" id="pr_verification1_1" value="r1" class="button_M bx bx-option {{ pr_verification1_0_checked }}" style="margin-top: 10px;">{{ text.verification.pr1_r1 }}</button>
                    <button name="pr_verification1" id="pr_verification1_2" value="r2" class="button_M bx bx-option {{ pr_verification1_1_checked }}" style="margin-top: 10px;">{{ text.verification.pr1_r2 }}</button>
                </div>
            </div>

            <div class="verification_question_2">
                {% if pr_verification2_danger %}  <div class="pregunta_titol_error" id="verification_question_2">*{{ text.verification.pr2 | safe }} ({{ text.common.error_opcio }})</div>{%  endif %}
                {% if not pr_verification2_danger %}<div class="pregunta_titol">{{ text.verification.pr2 | safe }}</div>{%  endif %}
                <div class="btn-toolbar" data-toggle="buttons" style="padding-left: 210px;">
                    <input type="hidden" name="pr_verification2" value="{{ pr_verification2 }}">
                    <button name="pr_verification2" id="pr_verification2_0" value="r1" class="button_M bx bx-option {{ pr_verification2_0_checked }}" style="margin-top: 10px;">{{ text.verification.pr2_r1 }}</button>
                    <button name="pr_verification2" id="pr_verification2_1" value="r2" class="button_M bx bx-option {{ pr_verification2_1_checked }}" style="margin-top: 10px;">{{ text.verification.pr2_r2 }}</button>
                </div>
            </div>

            <div class="verification_question_3">
                {% if pr_verification3_danger %}  <div class="pregunta_titol_error" id="verification_question_3">*{{ text.verification.pr3 | safe }} ({{ text.common.error_opcio }})</div>{%  endif %}
                {% if not pr_verification3_danger %}<div class="pregunta_titol">{{ text.verification.pr3 | safe }}</div>{%  endif %}
                <div class="btn-toolbar" data-toggle="buttons" style="padding-left: 210px;">
                    <input type="hidden" name="pr_verification3" value="{{ pr_verification3 }}">
                    <button name="pr_verification3" id="pr_verification3_0" value="r1" class="button_M bx bx-option {{ pr_verification3_0_checked }}" style="margin-top: 10px;">{{ text.verification.pr3_r1 }}</button>
                    <button name="pr_verification3" id="pr_verification3_1" value="r2" class="button_M bx bx-option {{ pr_verification3_1_checked }}" style="margin-top: 10px;">{{ text.verification.pr3_r2 }}</button>
                </div>
            </div>

            <div class="verification_question_4">
                {% if pr_verification4_danger %}  <div class="pregunta_titol_error" id="verification_question_4">*{{ text.verification.pr4 | safe }} ({{ text.common.error_opcio }})</div>{%  endif %}
                {% if not pr_verification4_danger %}<div class="pregunta_titol">{{ text.verification.pr4 | safe }}</div>{%  endif %}
                <div class="btn-toolbar" data-toggle="buttons" style="padding-left: 210px;">
                    <input type="hidden" name="pr_verification4" value="{{ pr_verification4 }}">
                    <button name="pr_verification4" id="pr_verification4_0" value="r1" class="button_M bx bx-option {{ pr_verification4_0_checked }}" style="margin-top: 10px;">{{ text.verification.pr4_r1 }}</button>
                    <button name="pr_verification4" id="pr_verification4_1" value="r2" class="button_M bx bx-option {{ pr_verification4_1_checked }}" style="margin-top: 10px;">{{ text.verification.pr4_r2 }}</button>
                </div>
            </div>

            {% if pr_verification_error %}  <span class="error_verification">{{ text.common.error_answer }}</span>{%  endif %}


            <hr class="separador-bottom" />

            <div class="page_button_right">
                <button class="bx bx-push bx-main" type="submit">{{ text.common.seguent }}</button>
            </div>

            <div class="page_button_left">
                <button id="boto_sortir" type="button" onclick="location.href='/{{ lang }}/game/tutorial'" name="logout" class="bx-push bx bx-white" >
                {{  text.common.repetir_tutorial }}
            </button>
            </div>
        </form>

    </div> <!-- /container -->

{% endblock %}
