.text_main {
    position: absolute;
    top: 250px;
    left: 67px;
    width: 824px;
    text-align: left;
    font-weight: normal;
    font-size: 26px;
    z-index: 2;
}

.text_gracias {
    position: absolute;
    top: 200px;
    left: 67px;
    width: 824px;
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    color: #000000;
    z-index: 2;
}

.enquesta_form {
    width: 900px;
    text-align: left;
}

.enquesta_logo {
    position:absolute;
    top:10px;
    left:10px;
    width:100px;
    text-align: left;
}

.enquesta_boto {
    position:absolute;
    top:560px;
    right:180px;
    width:100px;
    text-align: center;
}

.pregunta_titol_custom4 {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}

.pregunta_info {
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color:#000000;
}

/************/
/* Question */
/************/

.pregunta_titol {
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    color: #000;
    font-family: oswaldsemibold;
    padding-bottom: 5px;
}

.pregunta_titol_error {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    color: #f00;
    font-family: oswaldsemibold;
    padding-bottom: 5px;
}


/**********/
/* Botons */
/**********/

.boto_petit {
    width:100px;
    height:45px;
    padding-top: 12px;
}

.boto_mitja {
    width:185px;
    height:45px;
    padding-top: 12px;
}

.boto_mitja_ample {
    width:185px;
    height:70px;
    line-height: 20px; /* Lines with same font-size */
}

.boto_gran {
    width:250px;
    height:45px;
    padding-top: 12px;
}

.boto_gran_ample {
    width:250px;
    height:70px;
    line-height: 16px; /* Lines with smaller font-size */
}

.boto_llarg {
    width:410px;
    height:45px;
    padding-top: 12px;

}

.boto_llarg2 {
    width:310px;
    height:45px;
    padding-top: 12px;
}

.boto_superllarg {
    width:830px;
    height:45px;
    padding-top: 12px;
}

/**********/
/* Botons */
/**********/

.button_S {
    width:100px;
    height:45px;
    padding-top: 12px;
}

.button_M {
    width:185px;
    height:45px;
    padding-top: 12px;
}

.button_L {
    width:250px;
    height:45px;
    padding-top: 12px;
}

.button_XXL {
    width:410px;
    height:45px;
    padding-top: 12px;
}

.button_XL_lineas {
    width:410px;
    height:90px;
    padding-top: 12px;
}

.button_XXL2 {
    width:310px;
    height:45px;
    padding-top: 12px;
}

.button_XXXXL {
    width:830px;
    height:45px;
    padding-top: 12px;
}

/********/
/* Typo */
/********/

.small_typo {
    font-size: 12px;
    pointer-events: none;
    font-family: ralewaymedium;
}

/* Preguntes cuestionari final 1*/

.preguntafinal1 {
    position:absolute;
    top:120px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal2 {
    position:absolute;
    top:300px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal3 {
    position:absolute;
    top:400px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal4 {
    position:absolute;
    top:120px;
    left:110px;
    width:880px;
    text-align: left;
}

.pregunta_titol_custom5 {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}

.preguntafinal5 {
    position:absolute;
    top:120px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal6 {
    position:absolute;
    top:120px;
    left:110px;
    width:850px;
    text-align: left;
}

.preguntafinal7 {
    position:absolute;
    top:120px;
    left:110px;
    width:850px;
    text-align: left;
}

.preguntafinal8 {
    position:absolute;
    top:120px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal9 {
    position:absolute;
    top:260px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal10 {
    position:absolute;
    top:400px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal11 {
    position:absolute;
    top:120px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal12 {
    position:absolute;
    top:260px;
    left:110px;
    width:880px;
    text-align: left;
}

.preguntafinal13 {
    position:absolute;
    top:120px;
    left:110px;
    width:880px;
    text-align: left;
}

/********************/
/***** Survey 1 *****/
/********************/

.pregunta1 {
    position:absolute;
    top:105px;
    left:110px;
    width:880px;
    text-align: left;
    padding-bottom: 5px;
}

.pregunta2 {
    position:absolute;
    top:185px;
    left:110px;
    width:800px;
    text-align: left;
}

.pregunta3 {
    position: absolute;
    top: 320px;
    left: 110px;
    width: 800px;
    text-align: left;
}

.pregunta4 {
    position: absolute;
    top: 405px;
    left: 110px;
    width: 800px;
    text-align: left;
}


/* Preguntes cuestionari 3*/

.text_frame_title {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 790px;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    text-align: left;
}

.text_frame_info {
    position: absolute;
    top: 180px;
    left: 100px;
    width: 790px;
    font-size: 20px;
    text-align: justify;
}

.pregunta8 {
    position:absolute;
    top:300px;
    left: 100px;
    width: 790px;
    text-align: left;
}

.pregunta9 {
    position:absolute;
    top:430px;
    left: 100px;
    width: 790px;
    text-align: left;
}



.error {
    color:#f00;
    font-size: 16px;
}

.error_space {
    height:30px;
}


