.form_nickname {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 424px;
    font-family: ralewaymedium;
}

.user_info {
    position: absolute;
    top: 360px;
    left: 150px;
    width: 690px;
    text-align: justify;
    font-size: 18px;
    margin-top: 40px;
    font-family: ralewaythin;
}

.error_nickname {
    position:absolute;
    top:180px;
    left:300px;
    width:424px;
    height:35px;
    color:#ff0000;
    text-align: center;
    font-family: oswaldsemibold;
}